@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w QuizApp!</h1>
    <p class="lead">Twórz, rozwiązuj i analizuj quizy online.</p>
    <hr class="my-4">
    <p>Gotowy, aby zacząć?</p>
    <a class="btn btn-primary btn-lg" asp-controller="Quiz" asp-action="Index" role="button">Przeglądaj Quizy</a>
    <a class="btn btn-success btn-lg" asp-controller="Quiz" asp-action="Create" role="button">Stwórz Swój Quiz</a>
</div>
