@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Nasza strona szczegółowo opisuje politykę prywatności Lorem Ipsum.</p>
<p>Ponadto nie zamieszcza plików binarnych na GitHubie :D</p>
